*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    border: 2px solid lavender;
    width: 400px;
    background-color: lavender;
}
.row1{
    text-align: center;
}
.row2{
    margin-left: 85px;
}
input{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}
button{
    width: 100px;
}
#add{
    background-color: rgb(78, 78, 254);
    color: white;
    border: 2px solid rgb(78, 78, 254);
    border-radius: 5px;
}
#remove{
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
}
#print{
    border: 2px solid black;
    border-radius: 5px;
    width: 220px ;
    height: 75px;
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}    
